
            <!-- Utilize Cart Menu Start -->
        <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
        <div class="ltn__utilize-menu-head">
            <span class="ltn__utilize-menu-title">Cart</span>
            <button class="ltn__utilize-close">×</button>
        </div>
            <% if (user) { %>
          <% if (cart) { %>
            <% cart.Products.forEach(function(view) { %>
            <div class="mini-cart-product-area ltn__scrollbar">
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="<%=view.Product.Image[0]%>" alt="Image"></a>
                        <span class="mini-cart-item-delete" onclick="RemoveProduct('<%=view.Product._id%>')">X</span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#"><%=view.Product.ProductName%></a></h6>
                        <span class="mini-cart-quantity"><%=view.Quantity%> x $<%=view.Product.Price%></span>
                    </div>
                </div>
             </div>
           <% }); %> 
         <%} %>
        <%}%>   

        </div>
    </div>

<script>
    function RemoveProduct(Product){
        $.ajax({
            url:'/remove_product',
            data:{
                ProductId:Product
            },
            method:'post',
            success:(response)=>{
                location.reload()
            }
        })
    }
</script>
